@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Fraunces:opsz,wght@9..144,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", serif;
}
@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.swing-tag {
  animation: swing 2.5s ease-in-out infinite;
  transform-origin: top center;
}